{% extends 'base.html.twig' %}

{% block title %}Horaire index{% endblock %}

{% block body %}
    <h1>Horaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>HeureOuvertureMatin</th>
                <th>HeureFermetureMatin</th>
                <th>HeureOuvertureApresMidi</th>
                <th>HeureFermetureApresMidi</th>
                <th>Ferme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horaire in horaires %}
            <tr>
                <td>{{ horaire.id }}</td>
                <td>{{ horaire.Jour }}</td>
                <td>{{ horaire.heureOuvertureMatin ? horaire.heureOuvertureMatin|date('H:i:s') : '' }}</td>
                <td>{{ horaire.heureFermetureMatin ? horaire.heureFermetureMatin|date('H:i:s') : '' }}</td>
                <td>{{ horaire.heureOuvertureApresMidi ? horaire.heureOuvertureApresMidi|date('H:i:s') : '' }}</td>
                <td>{{ horaire.heureFermetureApresMidi ? horaire.heureFermetureApresMidi|date('H:i:s') : '' }}</td>
                <td>{{ horaire.ferme ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_horaire_show', {'id': horaire.id}) }}">show</a>
                    <a href="{{ path('app_horaire_edit', {'id': horaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_horaire_new') }}">Create new</a>
{% endblock %}
